---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app discordgsm
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: volsync
      namespace: storage
  values:
    annotations:
      reloader.stakater.com/auto: "true"
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        supplementalGroups: [1000]
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      discordgsm:
        containers:
          app:
            image:
              repository: discordgsm/discord-game-server-monitor
              tag: 2.20.1@sha256:c50826cb218cbd87e304e429bbf3a7272e7ee8ab84f1ea2c6ed3e036ffb942f4
            envFrom:
              - secretRef:
                  name: discordgsm-secret
            resources:
              requests:
                cpu: 50m
                memory: 100M
              limits:
                memory: 350M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    persistence:
      data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          discordgsm:
            app:
              - path: /usr/src/app/data
