---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-server
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      sparkyfitness-server:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom: &envFrom
              - secretRef:
                  name: sparkyfitness-secret
        containers:
          app:
            image:
              # renovate: datasource=docker depName=ghcr.io/codewithcj/sparkyfitness-server
              repository: ghcr.io/codewithcj/sparkyfitness-server
              tag: v0.16.2@sha256:335551cb1a30f0f9ab6cf937256d8eed615ad3a226aef41f71933e715205a4f5
            envFrom: *envFrom
            env:
              TZ: "${TIMEZONE}"
              SPARKY_FITNESS_LOG_LEVEL: debug
              SPARKY_FITNESS_DB_HOST: postgres17-rw.database.svc.cluster.local
              SPARKY_FITNESS_DB_PORT: 5432
              SPARKY_FITNESS_FRONTEND_URL: "fitness.${SECRET_DOMAIN}"
              SPARKY_FITNESS_DISABLE_SIGNUP: false
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 3010
    persistence:
      config:
        enabled: true
        existingClaim: sparkyfitness-server
        globalMounts:
          - path: /uploads