---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wizarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      wizarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository:  ghcr.io/wizarrrr/wizarr
              tag: v2025.11.2
            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 100
            envFrom:
              - secretRef:
                  name: wizarr-secret
            resources:
              requests:
                cpu: 15m
                memory: 180M
              limits:
                memory: 300M
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     supplementalGroups: [1000]
    #     fsGroupChangePolicy: OnRootMismatch
    #     seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: 5690
    route:
      app:
        enabled: true
        hostnames: ["join.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Wizarr
          gethomepage.dev/icon: wizarr.png
          gethomepage.dev/description: Plex Invite Management
          gethomepage.dev/weight: "10"
          # gethomepage.dev/widget.type: wizarr
          # gethomepage.dev/widget.url: http://wizarr.media.svc.cluster.local:5690
          # gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_WIZARR_TOKEN}}` }}"
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /data/database
      tmpfs:
        type: emptyDir
        advancedMounts:
          wizarr:
            app:
              - path: /.cache
