---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app romm
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  maxHistory: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      romm:
        annotations:
          secret.reloader.stakater.com/reload: &secret romm-secret
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *secret
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.5.0
            env:
              TZ: ${TIMEZONE}
              DISABLE_DOWNLOAD_ENDPOINT_AUTH: true
              DISABLE_USERPASS_LOGIN: false
              ENABLE_RESCAN_ON_FILESYSTEM_CHANGE: "true"
              ENABLE_SCHEDULED_CONVERT_IMAGES_TO_WEBP: "true"
              ENABLE_SCHEDULED_RESCAN: "true"
              ENABLE_SCHEDULED_RETROACHIEVEMENTS_PROGRESS_SYNC: "true"
              ENABLE_SCHEDULED_UPDATE_LAUNCHBOX_METADATA: "true" #chron set to 5m by default
              ENABLE_SCHEDULED_UPDATE_MAME_XML: "false"
              ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB: "false"
              HASHEOUS_API_ENABLED: true
              PLAYMATCH_API_ENABLED: true
              RESCAN_ON_FILESYSTEM_CHANGE_DELAY: 5
              SCHEDULED_RESCAN_CRON: "0 3 * * *"
              LAUNCHBOX_API_ENABLED: "true"
              ROMM_DB_DRIVER: postgresql
              REDIS_HOST: dragonfly.database.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_DB: 4
              OIDC_ENABLED: true
              OIDC_CLAIM_ROLES: "groups"
              OIDC_ROLE_ADMIN: rommAdmin
              OIDC_ROLE_EDITOR: rommEditor
              OIDC_ROLE_VIEWER: rommViewer
              OIDC_PROVIDER: authentik
              OIDC_REDIRECT_URI: https://romm.${SECRET_DOMAIN}/api/oauth/openid
              OIDC_SERVER_APPLICATION_URL: https://sso.${SECRET_DOMAIN}/application/o/romm
            envFrom:
              - secretRef:
                  name: *secret
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Rom emulator
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-romm.png
          gethomepage.dev/name: Romm
    persistence:
      config:
        type: configMap
        name: romm-configmap
        globalMounts:
          - path: /romm/config/config.yml
            subPath: config.yml
            readOnly: true
      data:
        existingClaim: *app
        advancedMounts:
          romm:
            app:
              - path: /romm/assets
                subPath: assets
              - path: /romm/resources
                subPath: resources
      tmp:
        type: emptyDir
        advancedMounts:
          romm:
            app:
              - path: /romm/config
                subPath: config
              - path: /tmp
                subPath: tmp
      games:
        type: nfs
        server: "${SECRET_NFS_SERVER}"
        path: "/mnt/sega/PlexNAS/Games"
        advancedMounts:
          romm:
            app:
              - path: /romm/library
