---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: authentik
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 2025.12.1
  url: oci://ghcr.io/goauthentik/helm-charts/authentik
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: authentik
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: *secret
    authentik:
      redis:
        host: dragonfly.database.svc.cluster.local
    server:
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.1
          envFrom:
            - secretRef:
                name: *secret
      autoscaling:
        enabled: true
        minReplicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 1Gi
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          hostnames: ["sso.${SECRET_DOMAIN}"]
          parentRefs:
            - name: envoy-external
              namespace: network
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/icon: authentik.png
            gethomepage.dev/name: Authentik
            gethomepage.dev/group: Home
            gethomepage.dev/app: authentik
            gethomepage.dev/description: OIDC User Management
            gethomepage.dev/widget.type: authentik
            gethomepage.dev/widget.url: http://authentik-server.security
            gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTHENTIK_TOKEN}}"
            gethomepage.dev/widget.version: "2"
    worker:
      replicas: 2
      # autoscaling:
      #   enabled: true
      #   minReplicas: 1
      resources:
        requests:
          cpu: 100m
        limits:
          memory: 1Gi
