---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app valheim
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    replace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
      strategy: rollback
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      valheim:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: docker.io/mbround18/valheim
              # renovate: datasource=docker depName=docker.io/mbround18/valheim
              tag: 3.6.0
            env:
              PUBLIC: 1
              TZ: "${TIMEZONE}"
              TYPE: "BepInEx"
              WORLD: "ConfettiCannon"
              MODS: |
                Advize-PlantEasily-2.0.3
                Advize-PlantEverything-1.20.0
                ASharpPen-Custom_Raids-1.8.1
                Azumatt-AzuAutoStore-3.0.14
                Azumatt-AzuContainerSizes-1.1.4
                Azumatt-AzuCraftyBoxes-1.8.13
                Azumatt-AzuExtendedPlayerInventory-2.3.6
                Azumatt-Build_Camera_Custom_Hammers_Edition-1.2.10
                Azumatt-Official_BepInEx_ConfigurationManager-18.4.1
                Azumatt-SleepSkip-1.3.0
                blacks7ar-OreMines-1.2.0
                Digitalroot-Better_Wisps-1.0.42
                Digitalroot-Eternal_Fire-1.0.17
                Dumba-NoAFKRaids-2.0.0
                MSchmoecker-MultiUserChest-0.6.1
                Numenos-InfinityTools-1.0.0
                Pineapple-DeathTweaks-1.4.1
                Smoothbrain-PackHorse-1.0.4
                Smoothbrain-Sailing-1.1.8
                TastyChickenLegs-TreesReborn-1.1.1
                ValheimModding-Jotunn-2.27.1
                ValheimModding-YamlDotNet-16.3.1
              AUTO_UPDATE: 1
              AUTO_UPDATE_SCHEDULE: "0 8 * * *" # every day at 8am
              AUTO_UPDATE_PAUSE_WITH_PLAYERS: 1
              SCHEDULED_RESTART: 1
              SCHEDULED_RESTART_SCHEDULE: "0 9 * * *" # every day at 9am
              AUTO_BACKUP: 1
              AUTO_BACKUP_SCHEDULE: "0 */2 * * *"
              AUTO_BACKUP_REMOVE_OLD: 1
              AUTO_BACKUP_DAYS_TO_LIVE: 2
              AUTO_BACKUP_ON_UPDATE: 1
              AUTO_BACKUP_ON_SHUTDOWN: 1
              HTTP_PORT: &port 80
            envFrom:
              - secretRef:
                  name: valheim-secret
            resources:
              requests:
                memory: 4Gi
                cpu: 200m
              limits:
                memory: 10Gi
    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: 10.10.40.140
        ports:
          http:
            port: *port
          steam1:
            port: 2456
            protocol: UDP
          steam2:
            port: 2457
            protocol: UDP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          valheim:
            app:
              - path: /home/steam/.config/unity3d/IronGate/Valheim/
                subPath: saves
              - path: /home/steam/valheim/
                subPath: server
              - path: /home/steam/backups/
                subPath: backups
