---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app starrupture
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      enshrouded:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: struppinet/starrupture-dedicated-server
              tag: latest
            env:
              SERVER_PORT: &game_port 7777
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.10.40.145
        ports:
          gameport:
            enabled: true
            port: *game_port
            protocol: UDP

    persistence:
      data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          enshrouded:
            app:
              - path: /home/container/server_files/StarRupture/Saved/SaveGames
                subPath: savegame
              - path: /home/container/server_files
                subPath: server