---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app starrupture
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      starrupture:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhavinx/starrupture
              tag: latest
            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
              ENABLE_LOG: 1
              SKIP_UPDATE: 0
              GAME_PORT: &port 7777
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 1000m
                memory: 9Gi
              limits:
                memory: 14Gi
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.10.40.145
        ports:
          gameport:
            enabled: true
            port: *port
            protocol: UDP
          queryport:
            enabled: true
            port: *port
            protocol: TCP

    persistence:
      data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          starrupture:
            app:
              # - path: /starrupture/server/StarRupture/Saved
              #   subPath: savegame
              - path: /starrupture/server
                subPath: server
              - path: /starrupture/data
                subPath: data