---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
components:
  - ../../components/common
resources:
  - ./home-assistant/ks.yaml
  # - ./matterbridge/ks.yaml
  - ./matter-server/ks.yaml
  - ./mosquitto/ks.yaml
  - ./open-webui/ks.yaml
  # - ./otbr/ks.yaml
  - ./searxng/ks.yaml
  - ./zigbee/ks.yaml
