---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nightscout
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: volsync
      namespace: storage
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: mongodb
      namespace: database
  values:
    controllers:
      nightscout:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
        containers:
          app:
            image:
              repository: nightscout/cgm-remote-monitor
              tag: 15.0.3
              pullPolicy: IfNotPresent
            env:
              TZ: "America/New_York"
              MONGO_CONNECTION: "mongodb://nightscout:${NIGHTSCOUT_MONGODB_PASSWORD}@mongodb.database.svc.cluster.local:27017/nightscout"
              AUTH_DEFAULT_ROLES: "readable"
              ALARM_TIMEAGO_URGENT: "off"
              ALARM_TIMEAGO_WARN: "off"
              ALARM_TYPES: " "
              BASE_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
              DEVICESTATUS_ADVANCED: "true"
              DISABLE: "simplealarms upbat"
              ENABLE: "ar2 careportal connect cors delta"
              EDIT_MODE: "on"
              SCALE_Y: "logarithmic"
              SHOW_RAWBG: "noise"
              THEME: "colors"
              TIME_FORMAT: "12"
              INSECURE_USE_HTTP: "true"
              CONNECT_SOURCE: "dexcomshare"
            envFrom:
              - secretRef:
                  name: nightscout-secret
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 500Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 1337

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
