---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ocis
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      ocis:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65542 # gladius:external-services

        initContainers:
          init-config:
            image:
              repository: docker.io/owncloud/ocis
              tag: 7.3.2@sha256:2b0edf30b3d81c5a4f5ecf88ed4f2ad5a7bbf0ac977adf0418f61d850cc08341
            command:
              - /bin/sh
              - -c
            args:
              - |
                if [ ! -f /etc/ocis/ocis.yaml ]; then ocis init; else exit 0; fi
            env:
              OCIS_INSECURE: true

        containers:
          ocis:
            image:
              repository: docker.io/owncloud/ocis
              tag: 7.3.2@sha256:2b0edf30b3d81c5a4f5ecf88ed4f2ad5a7bbf0ac977adf0418f61d850cc08341
            env:
              DEMO_USERS: false
              NOTIFICATIONS_SMTP_AUTHENTICATION: "auto"
              OCIS_ASYNC_UPLOADS: true
              OCIS_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: "false"
              OCIS_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: "true"
              OCIS_INSECURE: true
              OCIS_LOG_COLOR: true
              OCIS_LOG_LEVEL: info
              OCIS_LOG_PRETTY: true
              OCIS_URL: https://cloud.${SECRET_DOMAIN}
              PROXY_DEBUG_ADDR: 0.0.0.0:9205
              PROXY_HTTP_ADDR: 0.0.0.0:9200
              PROXY_TLS: false
              PROXY_LOG_LEVEL: info
              # STORAGE_USERS_OCIS_ROOT: /data
              TZ: America/New_York
              # Authelia OIDC
              # Auto role assignment:
              # docs: https://doc.owncloud.com/ocis/next/deployment/services/s-list/proxy.html#automatic-role-assignments
              OCIS_OIDC_ISSUER: https://sso.${SECRET_DOMAIN}/application/o/ocis-web/
              PROXY_AUTOPROVISION_ACCOUNTS: true
              PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
              PROXY_OIDC_REWRITE_WELLKNOWN: true
              PROXY_ROLE_ASSIGNMENT_DRIVER: oidc
              PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: groups
              PROXY_USER_OIDC_CLAIM: "preferred_username"
              PROXY_CSP_CONFIG_FILE_LOCATION: /etc/ocis/csp.yaml
              WEB_OIDC_METADATA_URL: https://sso.${SECRET_DOMAIN}/application/o/ocis-web/.well-known/openid-configuration
              WEB_OIDC_SCOPE: "openid profile email groups"
              # Storage
              STORAGE_USERS_DRIVER: s3ng
              STORAGE_SYSTEM_DRIVER: ocis
              STORAGE_USERS_S3NG_ENDPOINT: http://minio.storage.svc.cluster.local:9000
              STORAGE_USERS_S3NG_REGION: default
              STORAGE_USERS_S3NG_BUCKET: ocis-data
            envFrom:
              - secretRef:
                  name: ocis-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 1024Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: ocis
        ports:
          http:
            port: 9200
            primary: true
          metrics:
            port: 9205
    route:
      app:
        enabled: true
        hostnames: ["cloud.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: owncloud.svg
          gethomepage.dev/name: OwnCloud Infinite Scale
          gethomepage.dev/description: Cloud native file provider
          gethomepage.dev/group: Storage

    persistence:
      # storage-users:
      #   type: nfs
      #   server: ${SECRET_NFS_SERVER}
      #   path: /mnt/sega/cloud
      #   globalMounts:
      #     - path: /data
      #       subPath: storage-users
      config:
        type: configMap
        name: ocis-configmap
        globalMounts:
          - path: /etc/ocis/web.yaml
            subPath: web.yaml
            readOnly: true
          - path: /etc/ocis/proxy.yaml
            subPath: proxy.yaml
            readOnly: true
          - path: /etc/ocis/csp.yaml
            subPath: csp.yaml
            readOnly: true
      data:
        existingClaim: ocis
        globalMounts:
          - path: /var/lib/ocis
            subPath: data
          - path: /etc/ocis
            subPath: config
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
