---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: enshrouded
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: enshrouded-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        SERVER_PASSWORD: "{{ .SERVER_PASSWORD }}"
  dataFrom:
    - extract:
        key: enshrouded