---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app enshrouded
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      enshrouded:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: sknnr/enshrouded-dedicated-server
              tag: proton-latest
            env:
              SERVER_NAME: "BustedRNG"
              GAME_PORT: &game_port 15636
              QUERY_PORT: &query_port 15637
              SERVER_SLOTS: 16
            envFrom:
              - secretRef:
                  name: enshrouded-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.10.40.144
        ports:
          gameport:
            enabled: true
            port: *game_port
            protocol: UDP
          queryport:
            enabled: true
            port: *query_port
            protocol: UDP

    persistence:
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /home/steam/enshrouded/savegame
            readOnly: false
      config:
        type: secret
        name: enshrouded-secret
        globalMounts:
          - path: /home/steam/enshrouded/enshrouded_server.json
            subPath: enshrouded_server.json