---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app factorio
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      securityContext:
        seccompProfile: { type: RuntimeDefault }
    controllers:
      factorio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: factoriotools/factorio
              tag: stable-2.0.69
            env:
              TZ: ${TIMEZONE}
              SAVE_NAME: confetti-cannon
              LOAD_LATEST_SAVE: false
              GENERATE_NEW_SAVE: true
              PRESET: rich-resources # default, rich-resources, marathon, death-world, rail-world, ribbon-world
              BIND: "0.0.0.0"
            resources:
              requests:
                cpu: 1000m
                memory: 9Gi
              limits:
                memory: 14Gi
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.10.40.146
        ports:
          gameport:
            enabled: true
            port: 34197
            protocol: UDP
          queryport:
            enabled: true
            port: 27015
            protocol: TCP

    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /factorio