---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/kopiamaintenance_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: KopiaMaintenance
metadata:
  name: daily
  namespace: volsync
spec:
  enabled: true
  trigger:
    schedule: 0 */8 * * *
  repository:
    repository: volsync-maintenance-secret
  resources:
    requests:
      cpu: "100m"
      memory: "1Gi"
    limits:
      memory: "12Gi"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  suspend: false