---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-frontend
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              # renovate: datasource=docker depName=ghcr.io/codewithcj/sparkyfitness-frontend
              repository: ghcr.io/codewithcj/sparkyfitness-frontend
              tag: v0.16.2@sha256:a6a5d65daf3bd802cd20fb92752c02b4a3f93d862216b1a61d47f48171f4d2d7
            env:
              TZ: "${TIMEZONE}"
              PROMETHEUS_ENABLED: "true"
              SPARKY_FITNESS_LOG_LEVEL: debug
              SPARKY_FITNESS_SERVER_HOST: sparkyfitness-server.default.svc.cluster.local
              SPARKY_FITNESS_SERVER_PORT: 3010
            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                memory: 64M
    service:
      main:
        controller: main
        ports:
          http:
            port: &httpPort 80
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
          gethomepage.dev/href: "https://fitness.${SECRET_DOMAIN}"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/app: SparkyFitness
          gethomepage.dev/group: Home
          gethomepage.dev/icon: mdi-dumbbell
          gethomepage.dev/name: SparkyFitness
          gethomepage.dev/description: Self-hosted fitness tracking alternative to MyFitnessPal
          gethomepage.dev/pod-selector: app.kubernetes.io/controller=main
        hostnames:
          - "fitness.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https